* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: "PT Sans";
}

#root {
    height: 100%;
}



.map {
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
}

.content {
    margin: 0;
    margin-top: 200px;
    background: #fff;
    z-index: 1;
    position: relative;
    min-height: 100%;
    padding: 2em 0;
    /* last timeline component is at the bottom */
    padding-bottom: 80px;
}

.content, .bar {
    width: 100%;
}

@media screen and (min-width: 64em) {
    .map {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    .content {
        margin: 0 2em;
    }
    .content, .bar {
        width: 940px;
    }
}

.media-viewer {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(18, 18, 18, .98);
    z-index: 1000;
}

.bar {
    position: fixed;
    background-color: #ccc;
    top: 0;
    height: 6px;
    z-index: 1;
}

.components {
    padding: 0 2em;
}

.row .section {
    display: inline-block;
}

.timeline:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.timeline ul {
    text-align: center;
    padding: 0;
}
.timeline ul li {
    list-style: none;
    display: inline-block;
    margin: 0 0.2em 0.5em 0.2em;
}

.timeline ul li a.active {
    opacity: 0.9;
}

.timeline ul li a {
    display: block;
    text-decoration: none;
    color: #434343;
    background-color: #ccc;
    width: 32px;
    height: 32px;
    line-height: 2em;
    border-radius: 20px;
    opacity: 0.3;
}
.timeline ul li a:hover {
    opacity: 1;
}

.loading {
    width: 100%;
    text-align: center;
}

.section {
    position: relative;
}
.section .marker:before {
    position: absolute;
    top: 0;
    left: -8px;
    content: " ";
    height: 100%;
    width: 4px;
    background-color: transparent;
}

.section:hover .marker:before {
    background-color: #ccc;
}

.row .marker:before {
    z-index: 1;
    content: "";
    position: absolute;
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    margin: 15px 10px;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    opacity: 0.8;
    border-width: 2px;
    border-style: solid;
    background-color: rgba(204, 204, 204, 0.75);
    border-color: #ccc;
}
