* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: "PT Sans";
}

#root {
    height: 100%;
}

.media-viewer {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(18, 18, 18, .98);
    z-index: 1000;
}

.content {
    margin: 0 2em;
    z-index: 1;
    position: relative;
    background: #fff;
    width: 940px;
    min-height: 100%;
    padding: 2em;
}

.timeline ul {
    text-align: center;
    padding: 0;
}
.timeline ul li {
    list-style: none;
    display: inline-block;
    margin: 0 0.2em 0.5em 0.2em;
}

.timeline ul li a.active {
    opacity: 0.9;
}

.timeline ul li a {
    display: block;
    text-decoration: none;
    color: #434343;
    background-color: #ccc;
    width: 32px;
    height: 32px;
    line-height: 2em;
    border-radius: 20px;
    opacity: 0.3;
}
.timeline ul li a:hover {
    opacity: 1;
}

.dot {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    opacity: 0.8;
    border-width: 2px;
    border-style: solid;
    background-color: #ccc;
    border-color: #ccc;
}
